In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\admin\miniconda3\lib\site-packages (2.2.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\admin\miniconda3\lib\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
n=int(input("Value: "))
s=0
while(n>0):
    r=n%10
    s=s*10+r
    n=n//10
print("\nReverse value is: ",s)

Value:  123

Reverse value is:  321

In [12]:
n=5
for i in range(1,n+1):
    print()
    for j in range(i,n):
        print(j,end=' ')

1 2 3 4
2 3 4
3 4
4

In [14]:
total=0
c=0
while True:
    n=int(input("Value: "))
    if(n==0):
        break
    total+=n
    c+=1
if c>0:
    avg=total/c
    print("Total is: ",total)
    print("Average is: ",avg)

Value:  1
Value:  2
Value:  3
Value:  4
Value:  0

Total is:  10
Average is:  2.5

In [18]:
c="This is mca program"  
o=""
for i in c.split():
    o=i[0].upper()
    print(o)

T
I
M
P

In [21]:
s=input("String: ")
l=""
u=""
for i in s:
    print(i)
    if(i.islower()):
        l=l+i
    else:
        u=u+i
print(l+u)

String:  HElloWorld

H
E
l
l
o
W
o
r
l
d
lloorldHEW

In [24]:
l="hell"
l.lower()

'hell'

In [25]:
l.islower()

True

In [27]:
x=input("String: ")
d=""
for i in x:
    if(i.isdigit()):
        d=d+i
print(d)

String:  431wdq2314dsd

4312314

In [31]:
x=input("String: ")
x1=x[::-1]
if(x==x1):
    print(x," is palindrome")
else:
    print(x," is not palindrome")

String:  hello

hello  is not palindrome

In [35]:
x=input("String: ")
x=x.split()
print(x)
m=x[::-1]
print(" ".join(m))

String:  hellow world

['hellow', 'world']
world hellow

In [36]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l=[i*j for i in l1 for j in l2]
print(l)

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [37]:
l=[1,2,3,4,5,6]
s=0
l1=[]
for i in l:
    s=s+i
    l1.append(s)
print(l1)

[1, 3, 6, 10, 15, 21]

In [44]:
l=[1,2,2,2,3,4,5,6,7,7]
s=set(l)
print(s)
l1=[1,2,3,4]
l1=set(l1)
l2=[1,5,6]
l2=set(l2)
print(list(s&l1&l2))

{1, 2, 3, 4, 5, 6, 7}
[1]

In [47]:
v=set("My nAme is RahL")
v1=set("aeiouAEIOU")
print(len(v&v1))

4

In [49]:
n=5
fib=[]
a,b=0,1
for i in range(n):
    fib.append(a)
    a,b=b,a+b
fib=tuple(fib)
print(fib)

(0, 1, 1, 2, 3)

In [64]:
my_d={'stu1':{'name':'Alice','age':20},'stu2':{'name':'Ravi','age':21}}
print("Original dict\n")
for key,val in my_d.items():
    print(f"{key}:{val}")
print(my_d['stu1']['name'])

print("Coverting to Uppercase")
print(my_d['stu1']['name'].upper())
my_d['stu1']['name']='Ram'
for key,val in my_d.items():
    print(f"{key}:{val}")

Original dict

stu1:{'name': 'Alice', 'age': 20}
stu2:{'name': 'Ravi', 'age': 21}
Alice
Coverting to Uppercase
ALICE
stu1:{'name': 'Ram', 'age': 20}
stu2:{'name': 'Ravi', 'age': 21}

In [65]:
def list(a,tar):
    for i,ele in enumerate(a):
        if ele==tar:
            return i
    return -1

if __name__=='__main__':
    n=[1,5,7,2,4,6]
    t=4
    r=list(n,t)
    if r!=-1:
        print(f"Element  {t} at index {r}")
    else:
        print("Not found")

Element  4 at index 4

In [66]:
x=[1,2,3,4,5]
for i,val in enumerate(x):
    print(f"{i} \t {val}")

0 	 1
1 	 2
2 	 3
3 	 4
4 	 5

In [70]:
def linear(a,tar):
    for i in range(len(a)):
        if a[i]==tar:
            return i
    return -1
n=[1,2,3,4,5]
t=0
r=linear(n,t)
if r!=-1:
    print("found")
else:
    print("NOt found")

NOt found

In [72]:
import numpy as np
def mse(a,p):
    return np.mean((a-p)**2)
ac=np.random.randint(1,120,5)
pre=np.random.randint(1,120,5)
print(mse(ac,pre))

3687.8

In [73]:
def sig(x):
    return 1/(1+(np.exp(-x)))
n=np.arange(1,11)
print(n)

[ 1  2  3  4  5  6  7  8  9 10]

In [74]:
import pandas as pd
ipl=pd.read_csv("batsman_runs_series.csv")
print(ipl.head(10))
print("\n")
print(pd.Series("batsman_run"))

           batter  batsman_run
0  A Ashish Reddy          280
1        A Badoni          161
2      A Chandila            4
3        A Chopra           53
4     A Choudhary           25
5     A Dananjaya            4
6      A Flintoff           62
7        A Kumble           35
8       A Manohar          108
9        A Mishra          362


0    batsman_run
dtype: object

In [76]:
import pandas as pd
ipl = pd.read_csv("batsman_runs_series.csv")
top_scorers = ipl.groupby("batter")["batsman_run"].sum().reset_index()
top_10 = top_scorers.sort_values(by="batsman_run", ascending=False).head(10)
print("Top 10 Scorers\n")
print(top_10)

Top 10 Scorers

             batter  batsman_run
569         V Kohli         6634
462        S Dhawan         6244
130       DA Warner         5883
430       RG Sharma         5881
493        SK Raina         5536
27   AB de Villiers         5181
108        CH Gayle         4997
339        MS Dhoni         4978
452      RV Uthappa         4954
256      KD Karthik         4377

In [77]:
import pandas as pd

ipl = pd.read_csv("batsman_runs_series.csv")
top_scorers = ipl.groupby("batter")["batsman_run"].sum().reset_index()
players_above_3000 = top_scorers[top_scorers["batsman_run"] > 3000]
num_players_above_3000 = players_above_3000.shape[0]
print(f"Number of players with more than 3000 runs: {num_players_above_3000}")

Number of players with more than 3000 runs: 20

In [78]:
import pandas as pd

ipl = pd.read_csv("batsman_runs_series.csv")

top_scorers = ipl.groupby("batter")["batsman_run"].sum().reset_index()

mean_runs = top_scorers["batsman_run"].mean()

players_above_mean = top_scorers[top_scorers["batsman_run"] > mean_runs]

num_players_above_mean = players_above_mean.shape[0]

print(f"Number of players with runs above the mean value: {num_players_above_mean}")

Number of players with runs above the mean value: 128

In [79]:
import pandas as pd

# Read the CSV file and set 'item_name' as the index
df = pd.read_csv('items.csv', index_col='item_name')

# Display the DataFrame
print(df)

                                      item_price
item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]

In [80]:
import pandas as pd

# Read CSV with 'item_name' as index
df = pd.read_csv('items.csv', index_col='item_name')

# Count NaN values per column
nan_counts = df.isna().sum()  # or df.isnull().sum()

print("Number of NaN values per column:")
print(nan_counts)

Number of NaN values per column:
item_price    50
dtype: int64

In [82]:
import pandas as pd

# Read the CSV file with item_name as index
df = pd.read_csv('items.csv', index_col='item_name')

# Clean the price column by removing $ and converting to float
df['item_price'] = df['item_price'].str.replace('$', '').astype(float)

# Convert dollars to rupees (1 USD = 83.5 INR)
exchange_rate = 83.5
df['item_price'] = (df['item_price'] * exchange_rate).round(2)

# Count NaN values
nan_count = df.isna().sum()

print("DataFrame with prices in INR:")
print(df.head())
print("\nNumber of NaN values:")
print(nan_count)

DataFrame with prices in INR:
                                       item_price
item_name
Chips and Fresh Tomato Salsa               199.56
Izze                                       283.06
Nantucket Nectar                           283.06
Chips and Tomatillo-Green Chili Salsa      199.56
Chicken Bowl                              1417.83

Number of NaN values:
item_price    50
dtype: int64

In [83]:
import pandas as pd

# Read the CSV file with item_name as index
df = pd.read_csv('items.csv', index_col='item_name')

# Clean the price column by removing $ and converting to float
df['item_price'] = df['item_price'].str.replace('$', '').astype(float)

# Convert dollars to rupees (1 USD = 83.5 INR) and ensure float type
exchange_rate = 83.5
df['item_price'] = (df['item_price'] * exchange_rate).round(2).astype(float)

# Verify the data type
print("Data type of item_price:", df['item_price'].dtype)

# Count NaN values
nan_count = df.isna().sum()

print("\nDataFrame with prices in INR:")
print(df.head())
print("\nNumber of NaN values:")
print(nan_count)

Data type of item_price: float64

DataFrame with prices in INR:
                                       item_price
item_name
Chips and Fresh Tomato Salsa               199.56
Izze                                       283.06
Nantucket Nectar                           283.06
Chips and Tomatillo-Green Chili Salsa      199.56
Chicken Bowl                              1417.83

Number of NaN values:
item_price    50
dtype: int64

In [84]:
import pandas as pd

# Read the CSV file with item_name as index
df = pd.read_csv('items.csv', index_col='item_name')

# Clean the price column by removing $ and converting to float
df['item_price'] = df['item_price'].str.replace('$', '').astype(float)

# Convert dollars to rupees (1 USD = 83.5 INR) and ensure float type
exchange_rate = 83.5
df['item_price'] = (df['item_price'] * exchange_rate).round(2).astype(float)

# Fill NaN values with the mean of the series
mean_price = df['item_price'].mean()
df['item_price'] = df['item_price'].fillna(mean_price)

# Verify there are no more NaN values
print("Number of NaN values after filling:", df['item_price'].isna().sum())

# Show some rows with previously missing values (if any)
print("\nSample of filled data:")
print(df[df['item_price'] == mean_price].head())

Number of NaN values after filling: 0

Sample of filled data:
                  item_price
item_name
Side of Chips     623.163397
Steak Soft Tacos  623.163397
Chips             623.163397
Chicken Burrito   623.163397
Veggie Bowl       623.163397